<h1 id="title">{{title}}</h1>
<ul id="nav">
  <li><a href="#/geniuses">Genius</a></li>
  <li>+</li>
  <li><a href="#/assholes">Asshole</a></li>
  <li>=</li>
  <li><a href="#/geniasses">Geniass</a></li>
</ul>
<div id="diagram">
  {{> diagram}}  
</div>
